.fonte{
  font-family: 'Lobster', cursive;
}

.divVerde{
  background-color: rgb(110, 207, 110);
  width: 1700px;
  height: 260px;
  border-top: 10px solid rgb(4, 0, 253);
  border-bottom: 10px solid rgb(4, 0, 253);
  position: relative;
}

.divVermelha{
  background-color: rgb(212, 123, 123);
  width: 1700px;
  height: 260px;
  border-top: 10px solid rgb(240, 15, 15);
  border-bottom: 10px solid rgb(240, 15, 15);
  position: relative;
}

.divVerde h1 {
  position: absolute;
  top: 20px;
  left: 30px;
  margin: 0;
  color: black;
}

.divVermelha h1 {
  position: absolute;
  top: 20px;
  right: 30px;
  margin: 0;
  color: black;
}

.containerImagens {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}


.divVerde .containerImagens {
  left: 30px;
}

.divVermelha .containerImagens {
  right: 30px;
}

.lhama-pequena {
  width: 140px;
}

.lhama-media {
  width: 180px;
}

.lhama-grande {
  width: 220px;
}

.lhama-extra-grande {
  width: 260px;
}