
    span {
        background-color: yellow;
        color: black;
    }

    .container1{
      border: 1vh solid black;   
      width: 65%;                
      font-size: 1vw;            
      margin: 3px;                
      background-color: white;
    }

    .container2 {
      border: 6px solid black;   
      width: 620px;              
      font-size: 08pt;           
      margin: 3px;
      background-color: white;
    }

    body {
      background-color: #d9f8f9;
      font-family: Arial, sans-serif;
    }

    .center{
      text-align: center;
    }