
.div1{
  background-color: lightblue;
  font-family: 'Bitcount Grid Double Ink', monospace;
}

.div2{
  background-color: lightgreen;
  font-family: "Quicksand", sans-serif;
}

.div3{
  background-color: rgb(240, 128, 210);
  font-family: 'Bebas Neue', monospace;
}

.div4{
  background-color: lightgoldenrodyellow;
  font-family: "Bungee Spice";
}

.div5{
  background-color: lightpink;
  font-family: "Corinthia";
}